


#saleBannerTop
  -# %h1 Shop Roman Swag
  .bannerText Cool in Europe, Rare in NYC
.infiniteCarousel
  #saleItems.hidden.wrapper.itemsContainer
    %ul
      %li
        %a
          %img{src: "http://ak1.polyvoreimg.com/cgi/img-thing/size/l/tid/8865.jpg"}
      %li
        %a{href: "http://www.clubmonaco.com/032007/w1.asp"}
          %img{src: "http://ak2.polyvoreimg.com/cgi/img-thing/size/l/tid/8244.jpg"}
      %li
        %a
          %img{src: "http://ak1.polyvoreimg.com/cgi/img-thing/size/l/tid/8245.jpg"}
      %li
        %a
          %img{src: "http://ak1.polyvoreimg.com/cgi/img-thing/size/l/tid/3873.jpg"}
      %li
        %a
          %img{src: "http://ak2.polyvoreimg.com/cgi/img-thing/size/l/tid/3876.jpg"}
      %li
        %a
          %img{src: "http://ak1.polyvoreimg.com/cgi/img-thing/size/l/tid/54191870.jpg"}
      %li
        %a
          %img{src: "http://ak2.polyvoreimg.com/cgi/img-thing/size/l/tid/50702178.jpg"}
      %li
        %a
          %img{src: "http://ak1.polyvoreimg.com/cgi/img-thing/size/l/tid/55220726.jpg"}
          

#saleBannerBottom